<div class="container bg-secondary rounded-3 padded mt-5" id="destinations">
    <div class="row">
        <div class="col-2"></div>
        <h2 class="text-center col-8">Destinations</h2>
        <div class="col-2 float-end">
            <a href='/search?name=&type=destination&sort=id&order=DESC&page=0' role="button" class="btn btn-secondary">View more destinations</a>
        </div>
    </div>
    <hr class="text-light">
    <div id="search-results">
        <div class="row row-cols-md-3">
            <div class="col">
                <div class="card">
                    <div class="card-body" *ngFor="let d of destinations">
                        <h5 class="card-title">{{d.name}}</h5>
                        <p class="card-text">{{d.description}}</p>
                        <a href="" class="btn btn-primary">More details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>