
<div class="container-fluid p-0 my-4">

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active" *ngFor="let d of destinations | slice:0:1">
                <a href="#destinations">
                    <img [src]="serviceDest.getImage(d)"  class="d-block w-100" alt="{{d.name}}">
                </a>
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50">
                    <h5>Destinations</h5>
                    <p>Click to view our most liked destinations!</p>
                </div>
            </div>
            <div class="carousel-item" *ngFor="let p of places | slice:0:1">
                <a href="#places">
                    <img [src]="servicePlaces.getImage(p)" class="d-block w-100" alt="{{p.name}}">
                </a>
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50">
                    <h5>Places to visit</h5>
                    <p>Click to view our most liked places to visit!</p>
                </div>
            </div>
            <div class="carousel-item" *ngFor="let i of itineraries | slice:0:1">
                <a href="#itineraries">
                    <img [src]="serviceItineraries.getImage(i)" class="d-block w-100" alt="{{i.name}}">
                </a>
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50">
                    <h5>Itineraries</h5>
                    <p>Click to view our most liked itineraries!</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


<div class="pt-3 pb-5">

    <div class="container bg-secondary rounded-3 padded my-3">
        <div class="row">
            <h2 class="text-center col"> Our most visited destinations</h2>
        </div>
        <div class="row" id="chart_div">
            <a class="col-md-6" *ngIf="barChartData">
                <canvas id="views-chart" baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"></canvas>
            </a>
            <div class="col-md-6">
                <div class="card mb-3" *ngFor="let c of chart">
                    <div class="card-body row">
                        <div class="col-8 col-10">
                            <h5 class="card-title">{{c.name}}</h5>
                        </div>
                        <div class="col-4 col-lg-2">
                            <img src="{{c.flag}}" class="rounded float-end item-flag"
                                 alt="{{c.name}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-secondary rounded-3 padded mt-5" id="destinations">
        <div class="row">
            <div class="col-2"></div>
            <h2 class="text-center col-8">Destinations</h2>
            <div class="col-2 float-end">
                <a href='/search?name=&type=destination&sort=id&order=DESC&page=0' role="button" class="btn btn-secondary">View more destinations</a>
            </div>
        </div>
        <hr class="text-light">
        <div id="search-results">
            <div class="row row-cols-md-3">
                <div class="col" *ngFor="let d of destinations | slice:0:3">
                    <div class="card">
                        <img [src]="serviceDest.getImage(d)" class="card-img-top" alt="{{d.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{d.name}}</h5>
                            <p class="card-text">{{d.description}}</p>
                            <a href="/details/{{d.typeLowercase}}/{{d.id}}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-secondary rounded-3 padded mt-4" id="places">
        <div class="row">
            <div class="col-2"></div>
            <h2 class="text-center col-8">Places to visit</h2>
            <div class="col-2 float-end">
                <a href='/search?name=&type=place&sort=id&order=DESC&page=0' role="button" class="btn btn-secondary">View more places</a>
            </div>
        </div>
        <hr class="text-light">
        <div id="search-results">
            <div class="row row-cols-md-3">
                <div class="col" *ngFor="let p of places | slice:0:3">
                    <div class="card">
                        <img [src]="servicePlaces.getImage(p)" class="card-img-top" alt="{{p.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{p.name}}</h5>
                            <p class="card-text">{{p.description}}</p>
                            <a href="/details/{{p.typeLowercase}}/{{p.id}}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-secondary rounded-3 padded mt-4" id="itineraries">
        <div class="row">
            <div class="col-2"></div>
            <h2 class="text-center col-8">Itineraries</h2>
            <div class="col-2 float-end">
                <a href='/search?name=&type=itinerary&sort=id&order=DESC&page=0' role="button" class="btn btn-secondary">View more itineraries</a>
            </div>
        </div>
        <hr class="text-light">
        <div id="search-results">
            <div class="row row-cols-md-3">
                <div class="col" *ngFor="let i of itineraries | slice:0:3">
                    <div class="card">
                        <img [src]="serviceItineraries.getImage(i)" class="card-img-top" alt="{{i.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <p class="card-text">{{i.description}}</p>
                            <a href="/details/{{i.typeLowercase}}/{{i.id}}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

