<div class="container bg-secondary p-4 rounded-3 my-3">
  <div class="justify-content-between row">
    <div class="col"></div>
    <h2 class="text-center col-8">RESULTS</h2>
    <div class="col">
      <button type="button" class="btn btn-dark float-end" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">Filters
      </button>
    </div>
  </div>
  <div class="collapse container" id="collapseExample">
    <div class="card card-body">
      <form class="" #f="ngForm" (ngSubmit)="search(f)" novalidate>
        <div class="row pb-4">
          <div class="col-12 col-md-9 col-xl-10 pe-2">
            <input class="form-control" type="search" aria-label="Search" name="name" [(ngModel)]="name">
          </div>
          <div class="col-12 col-md-3 col-xl-2">
            <input class="w-100 h-100" type='submit' value='Search' />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h6>Filter by:</h6>
            <select class="form-select" aria-label="Filter by" name="type" [(ngModel)]="type">
              <option value="itinerary" >Itineraries</option>
              <option value="place" >Places</option>
              <option value="destination" >Destinations</option>
            </select>
          </div>
          <div class="col">
            <h6>Order by:</h6>
            <select class="form-select" aria-label="Order by" name="sort" [(ngModel)]="sort">
              <option value="id">Newest</option>
              <option value="views">Most watched</option>
              <option value="name">Alphabetical</option>
            </select>
          </div>
          <div class="col">
            <h6>Direction:</h6>
            <select class="form-select" aria-label="Order by" name="order" [(ngModel)]="order">
              <option value="DESC">Descending</option>
              <option value="ASC">Ascending</option>
            </select>
          </div>
        </div>
        <input type="hidden" name="page" value="0" ngModel/>
      </form>
    </div>
  </div>
  <hr class="text-light">
  <div id="search-results">
    <div class="card mb-3" *ngFor="let i of items">
      <div class="row g-0">
        <div class="col-md-4">
          <img class="img-fluid rounded-start" [src]="getImage(i)" alt="" id="header-item-image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <img src="{{i.flag}}" class="rounded float-end item-flag" alt="...">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.description}}</p>
            <p class="card-text"><small class="text-muted">{{i.type}}</small></p>
            <a [routerLink]="['/details/' + i.typeLowercase + '/' + i.id]" class="btn btn-secondary">Details</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="align-items-center" id="information-spinner" *ngIf="loader">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
  <div class="d-flex justify-content-center">
    <button (click)="loadMore()" class="btn btn-primary" id="btn-more-search">
      Load more
    </button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
  integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/search.js"></script>
