<div class="card m-3" id="review-1">
    <div class="card-body g-0 text-black bg-light row">
        <div class="col-1">
            <img class="img-fluid rounded-start" src="/user/{{user.id}}/image" alt="{{user.username}}"
                 width="75" height="75">
        </div>
        <div class="col-11">
            <p class="float-end">{{review.score}}</p>
            <h5 class="card-title">{{review.title}}</h5>
            <p class="card-text"><small class="text-muted">{{user.firstName}} {{user.lastName}}</small></p>
            <p class="float-end"><small class="text-muted">{{review.dateToString}}</small></p>
            <p class="card-text">{{review.description}}</p>
        </div>

    </div>
</div>