{{>header}}
<!-- Header Item Data -->
{{#item}}
<div class="container p-4">
    <section class="p-5 mb-4 bg-secondary rounded-3 text-dark" id="header-item-bg">
        <div class="row">
            <!-- Item Image -->
            <div class="col-12 col-md-5 pe-0 pe-md-5" id="header-graph">
                <img src="/{{typeLowercase}}/{{id}}/image" alt="{{name}}" id="header-item-image"
                     class="rounded-3">
            </div>
            <!-- Item Data -->
            <div class="col-12 col-md-7 py-4 p-md-0" id="header-data">
                <div class="row pb-2 justify-content-between">
                    <!-- Item Name -->
                    <h1 class="col-10 display-5 fw-bold ps-4 p-md-0" id="header-item-name">{{name}}</h1>
                    <div class="col-2" id="header-buttons">
                        {{#isItinerary}}{{#isLogged}}
                        {{#item}}
                        <button type="button" class="btn btn-primary float-end" onclick="location.href='/export/{{typeLowercase}}/{{id}}'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </button>
                        <!-- Save Button -->
                        <button type="button" class="btn btn-primary float-end" onclick="location.href='/details/destination/{{id}}/save'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                            </svg>
                        </button>
                        {{/item}}
                        {{/isLogged}}{{/isItinerary}}
                    </div>
                </div>
                <!-- Item Description -->
                <div class="row">
                    <p class="fs-5 ps-4 p-md-0">{{description}}</p>
                </div>
            </div>
        </div>
        {{#isPlace}}{{#isLogged}}
        <div class="row mb-2 mt-5">
            <div class="col-12 text-center">
                <h5>Add to your itinerary</h5>
            </div>
        </div>
        <form action="/itinerary/add/place/{{id}}" method="post" class="row text-center justify-content-between">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <div class="col-9 col-md-10 col-xxl-11">
                <select class="form-select" name="itineraryList"{{^ownedItineraries}} disabled{{/ownedItineraries}}>
                {{#ownedItineraries}}
                <option value="{{id}}">{{name}}</option>
                {{/ownedItineraries}}
                {{^ownedItineraries}}
                <option value="No itineraries">No itineraries</option>
                {{/ownedItineraries}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary col-3 col-md-2 col-xxl-1 text-center"{{^ownedItineraries}} disabled{{/ownedItineraries}}>Add</button>
        </form>
        {{/isLogged}}{{/isPlace}}
    </section>
</div>
<!-- Destination Information -->
<div class="container p-4">
    <section class="p-4 mb-4 bg-secondary rounded-3 text-dark" id="info-item-bg">
        <h3 class="text-center mb-3">Related Information</h3>
        {{#information}}
        <!--Item 1 -->
        <div class="card m-3" id="item-1">
            <div class="card-body g-0 text-black bg-light">
                <img src="{{flag}}" class="rounded float-end item-flag"
                     alt="{{name}}">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text"><small class="text-muted">{{type}}</small></p>
                <a href="/details/{{typeLowercase}}/{{id}}" class="btn btn-primary">See more</a>
                {{#isOwned}}
                <button type="button" class="btn btn-danger" onclick="location.href='{{item.id}}/details/{{typeLowercase}}/{{id}}/delete'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </button>
                {{/isOwned}}
            </div>
        </div>
        {{/information}}
    </section>
</div>
{{/item}}
{{^hide}}
<!-- Reviews -->
<div class="container p-4">
    <section class="p-4 mb-4 bg-secondary rounded-3 text-dark" id="info-review-bg">
        <h3 class="text-center mb-3">Reviews</h3>
        <div class="card m-3" id="new-review-form">
            {{#item}}
            <form action="/reviews/add/{{id}}/" method="post" class="card-body g-0 text-black bg-light row">
                {{/item}}
                <input type="hidden" name="_csrf" value="{{token}}"/>
                <h5 class="mb-3">Add your review!</h5>
                <div class="mb-3 row">
                    <div class="col-9">
                        <label for="review-title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="review-title" name="title">
                    </div>
                    <div class="col-3">
                        <label for="review-score" class="form-label">Score</label>
                        <input type="text" class="form-control" id="review-score" name="score">
                        <div id="score-review-help" class="form-text">Write a score from 0-5</div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-12">
                        <label for="review-title" class="form-label">Body</label>
                        <textarea class="form-control" id="review-body" name="description"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {{#review}}
        <!--Review 1 -->
        <div class="card m-3" id="review-1">
            <div class="card-body g-0 text-black bg-light row">
                <div class="col-1">
                    {{#user}}
                    <img class="img-fluid rounded-start" src="{{image}}" alt="{{username}}"
                         width="75" height="75">
                    {{/user}}
                </div>
                <div class="col-11">
                    <p class="float-end">{{score}}</p>
                    <h5 class="card-title">{{title}}</h5>
                    {{#user}}
                    <p class="card-text"><small class="text-muted">{{firstName}} {{lastName}}</small></p>
                    {{/user}}
                    <p class="float-end"><small class="text-muted">{{dateToString}}</small></p>
                    <p class="card-text">{{description}}</p>
                </div>
            </div>
        </div>
        {{/review}}
    </section>
</div>
{{/hide}}
</body>
</html>
