    {{>header}}

    <!-- Header Item Data -->
    <div class="container p-4">
        <section class="p-5 mb-4 bg-secondary rounded-3 text-dark" id="header-item-bg">
            <div class="row">
                <!-- Item Image -->
                <div class="col-12 col-md-5 pe-0 pe-md-5" id="header-graph">
                    <img src="https://picsum.photos/1920/1080" alt="{{item-name}}" id="header-item-image"
                        class="rounded-3">
                </div>
                <!-- Item Data -->
                <div class="col-12 col-md-7 py-4 p-md-0" id="header-data">
                    <div class="row pb-2 justify-content-between">
                        <!-- Item Name -->
                        <h1 class="col-10 display-5 fw-bold ps-4 p-md-0" id="header-item-name">{{item-name}}</h1>

                        <!-- Edit Button -->
                        <div class="col-2" id="header-edit-button">
                            <button type="button" class="btn btn-primary float-end">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path
                                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd"
                                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                            </button>
                        </div>
                    </div>

                    <!-- Item Description -->
                    <div class="row">
                        <p class="fs-5 ps-4 p-md-0">{{item-desctiption}}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Destination Information -->
    <div class="container p-4">
        <section class="p-4 mb-4 bg-secondary rounded-3 text-dark" id="info-item-bg">
            <h3 class="text-center mb-3">Related Information</h3>

            <!--Item 1 -->
            <div class="card m-3" id="item-1">
                <div class="card-body g-0 text-black bg-light">
                    <img src="https://flagicons.lipis.dev/flags/4x3/es.svg" class="rounded float-end item-flag"
                        alt="{{item-1-name}}">
                    <h5 class="card-title">{{item-1-name}}</h5>
                    <p class="card-text"><small class="text-muted">{{item-1-type}}</small></p>
                </div>
            </div>

            <!--Item 1 -->
            <div class="card m-3" id="item-2">
                <div class="card-body g-0 text-black bg-light">
                    <img src="https://flagicons.lipis.dev/flags/4x3/es.svg" class="rounded float-end item-flag"
                        alt="{{item-2-name}}">
                    <h5 class="card-title">{{item-2-name}}</h5>
                    <p class="card-text"><small class="text-muted">{{item-2-type}}</small></p>
                </div>
            </div>

            <!--Item 1 -->
            <div class="card m-3" id="item-3">
                <div class="card-body g-0 text-black bg-light">
                    <img src="https://flagicons.lipis.dev/flags/4x3/es.svg" class="rounded float-end item-flag"
                        alt="{{item-3-name}}">
                    <h5 class="card-title">{{item-3-name}}</h5>
                    <p class="card-text"><small class="text-muted">{{item-3-type}}</small></p>
                </div>
            </div>

        </section>
    </div>

</body>