<footer class="mt-4 bg-secondary py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Developers:</h5>
        <ul class="list-unstyled">
          <a href="https://github.com/AdayaUwU" target="_blank"><li>Adaya María Ruiz Mayoral</li></a>
          <a href="https://github.com/xIvqn" target="_blank"><li>Iván Penedo Ventosa</li></a>
          <a href="https://github.com/anna-trofimova" target="_blank"><li>Anna Trofimova</li></a>
          <a href="https://github.com/LovetheFrogs" target="_blank"><li>Marcos Ferrer Zalve</li></a>
        </ul>
      </div>
      <div class="col-md-9">
        <p>Webpage "TripScanner" is developed for the Software Engineering subject "DAW" </p>
      </div>
    </div>
  </div>
</footer>