<footer class="mt-4 bg-secondary py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>Developers:</h5>
        <ul class="list-unstyled">
          <li>Adaya María Ruiz Mayoral</li>
          <li>Iván Penedo Ventosa</li>
          <li>Anna Trofimova</li>
          <li>Marcos Ferrer Zalve</li>
        </ul>
      </div>
      <div class="col-md-9">
        <p>Webpage "TripScanner" is developed for the Software Engineering subject "DAW" </p>
      </div>
    </div>
  </div>
</footer>