<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Trip Scanner">
    <title>Trip Scanner | Encuentra los mejores viajes!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body class="bg-light">

<div class="navbar sticky-top navbar-light bg-white bg-opacity-75">
    <div class="container-fluid justify-content-between">
        <a class="navbar-brand float-start" href="/"><img src="/img/logo-placeholder-image.png"
                                                          alt="Placeholder logo" widht="80px" height="80px"></a>

        <div>

            {{#logIn}}
            <a class="navbar-brand float-start" href="perfil.html"><img src="{{imageFile}}"
                                                                        alt="Placeholder userImage" widht="80px" height="80px"></a>
            <a class="navbar-brand float-end" href="/profile">
                <img src="/user/{{id}}/image" alt="Placeholder userImage" widht="80px" height="80px" class="rounded ms-3 ">
            </a>
            {{/logIn}}

            {{^logIn}}
            <form class="form-inline float-end m-3">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="location.href='/login'">Log
                    In</button>
            </form>
            {{/logIn}}

            {{#logIn}}
            <form class="form-inline float-end my-3 ms-3">
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='/myItineraries'">My
                    itineraries</button>
            </form>
            {{/logIn}}
            {{#admin}}
            <form class="form-inline float-end my-3 ms-3">
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='/management/itinerary'">
                    Management
                </button>
            </form>
            {{/admin}}


            <form class="d-flex float-end m-3" method="get" action="/search">
                <input class="form-control me-2" type="search" placeholder="{{#name}}{{.}}{{/name}}" aria-label="Search" name="name">
                <input type='submit' value='Search'/>
            </form>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>