{{>header}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="container-fluid p-0 my-4">

    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">

            <div class="carousel-item active">
                <a href="#destinations">
                    <img src="/destination/{{destination-id}}/image" class="d-block w-100" alt="">
                </a>
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50">
                    <h5>Destinations</h5>
                    <p>Click to view our most liked destinations!</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#places">
                    <img src="/place/{{place-id}}/image" class="d-block w-100" alt="">
                </a>
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50">
                    <h5>Places to visit</h5>
                    <p>Click to view our most liked places to visit!</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#itineraries">
                    <img src="/itinerary/{{itinerary-id}}/image" class="d-block w-100" alt="">
                </a>
                <div class="carousel-caption d-none d-md-block bg-black bg-opacity-50">
                    <h5>Itineraries</h5>
                    <p>Click to view our most liked itineraries!</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>


<div class="pt-3 pb-5">

    <div class="container bg-secondary rounded-3 padded my-3">
        <div class="row">
            <h2 class="text-center col"> Our most visited destinations</h2>
        </div>
        <div class="row" id="chart_div">
            <a class="col-md-6">
                <canvas id="views-chart"></canvas>
                <script>
    var ctx = document.getElementById('views-chart').getContext('2d');
    var places = [{{#places}}{ name: "{{name}}" }{{^isLast}},{{/isLast}}{{/places}}];
    var views = {{views}};
    var labels = places.map(place => place.name);

    // Add a helper function to detect the last element of an array
    function isLast(index, array) {
        return index === array.length - 1;
    }

    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Views',
                data: views,
                backgroundColor: 'rgba(13,110,253,255)',
                borderColor: 'rgba(246,250,239,255)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
            </a>
            <div class="col-md-6">
                {{#popularDestination}}
                <div class="card mb-3">
                    <div class="card-body row">
                        <div class="col-8 col-10">
                            <h5 class="card-title">{{name}}</h5>
                        </div>
                        <div class="col-4 col-lg-2">
                            <img src="{{flag}}" class="rounded float-end item-flag"
                                 alt="{{name}}">
                        </div>
                    </div>
                </div>
                {{/popularDestination}}
            </div>
        </div>
    </div>

    <div class="container bg-secondary rounded-3 padded mt-5" id="destinations">
        <div class="row">
            <div class="col-2"></div>
            <h2 class="text-center col-8">Destinations</h2>
            <div class="col-2 float-end">
                <a href='/search?name=&type=destination&sort=id&order=DESC&page=0' role="button" class="btn btn-secondary">View more destinations</a>
            </div>
        </div>
        <hr class="text-light">
        <div id="search-results">
            <div class="row row-cols-md-3">
                {{#destinations}}
                <div class="col">
                    <div class="card">
                        <img src="/destination/{{id}}/image" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                            <a href="/details/destination/{{id}}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                {{/destinations}}
            </div>
        </div>
    </div>

    <div class="container bg-secondary rounded-3 padded mt-4" id="places">
        <div class="row">
            <div class="col-2"></div>
            <h2 class="text-center col-8">Places to visit</h2>
            <div class="col-2 float-end">
                <a href='/search?name=&type=place&sort=id&order=DESC&page=0' role="button" class="btn btn-secondary">View more places</a>
            </div>
        </div>
        <hr class="text-light">
        <div id="search-results">
            <div class="row row-cols-md-3">
                {{#place}}
                <div class="col">
                    <div class="card">
                        <img src="/place/{{id}}/image" class="card-img-top" alt="{{name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                            <a href="/details/place/{{id}}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                {{/place}}
            </div>
        </div>
    </div>

    <div class="container bg-secondary rounded-3 padded mt-4" id="itineraries">
        <div class="row">
            <div class="col-2"></div>
            <h2 class="text-center col-8">Itineraries</h2>
            <div class="col-2 float-end">
                <a href='/search?name=&type=itinerary&sort=id&order=DESC&page=0' role="button" class="btn btn-secondary">View more itineraries</a>
            </div>
        </div>
        <hr class="text-light">
        <div id="search-results">
            <div class="row row-cols-md-3">
                {{#itinerary}}
                <div class="col">
                    <div class="card">
                        <img src="itinerary/{{id}}/image" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{description}}</p>
                            <a href="/details/itinerary/{{id}}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                {{/itinerary}}
            </div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
</script>
</body>

</html>