{{>header}}

<div class="h-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6">
    <div class="card-body p-md-5 text-black">

      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log In</h5>
        </div>

        <form action="/login" method="post">
          <div class="modal-body">
            <div class="form-outline mb-4" style="padding-left: 40px;padding-right: 40px;">
              <label class="form-label required">UserName</label>
              <input type="text" class="form-control" name="username">
              <input type="hidden" name="_csrf" value="{{token}}"/>
            </div>
            <div class="form-outline mb-4" style="padding-left: 40px;padding-right: 40px;">
              <label class="form-label required">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Log In"/>

          </div>
        </form>

        <form action="/sign" method="get">
          <input type="hidden" name="_csrf" value="{{token}}"/>
          <button type="submit" class="btn btn-danger" style="margin-left: 45px; margin-top: 10px; margin-bottom: 10px;">Not a member yet? Sign Up!</button>
        </form>
      </div>

    </div>
  </div>
</div>
  </div>
 </body>
</html>
