{{>header}}


<div class="container bg-secondary p-4 rounded-3">
    <div class="justify-content-between row">
        <div class="col">
            <div class="switch-toggle switch-3 switch-candy rounded-3">

                <input id="on" name="state-d" type="radio" checked=""/>
                <label for="on" onclick="">All</label>

                <input id="na" name="state-d" type="radio" checked="checked"/>
                <label for="na" class="disabled" onclick="">Public</label>

                <input id="off" name="state-d" type="radio"/>
                <label for="off" onclick="">Private</label>

            </div>
        </div>
        <h2 class="text-center col-8">RESULTS</h2>
        <div class="col">
            <button type="button" class="btn btn-dark float-end" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">Filters
            </button>
        </div>

    </div>
    <div class="collapse container" id="collapseExample">
        <div class="card card-body">
            <div class="row">

                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Country</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Sort by</option>
                        <option value="1">Popularity</option>
                        <option value="2">Alphabetical</option>
                        <option value="3">Type</option>
                    </select>
                </div>

                <div class="col">

                    <div class="form-check">
                        <form action="/search/filters" method="post">
                            <input class="form-check-input" type="checkbox" value="" id="checkboxDestination" name="destination">
                            <label class="form-check-label" for="checkboxDestination">
                                Destinations
                            </label>
                        </form>
                    </div>
                    <div class="form-check">
                        <form action="/search/filters" method="post">
                            <input class="form-check-input" type="checkbox" value="" id="checkboxPlace" name="place">
                            <label class="form-check-label" for="checkboxPlace">
                                Places
                            </label>
                        </form>
                    </div>
                    <div class="form-check">
                        <form action="/search/filters" method="post">
                            <input class="form-check-input" type="checkbox" value="" id="checkboxItinerary" name="itinerary">
                            <label class="form-check-label" for="checkboxItinerary">
                                Itineraries
                            </label>
                        </form >
                    </div>

                </div>
            </div>


        </div>
    </div>
    <hr class="text-light">
    <div id="search-results">

        <div class="card mb-3">
            {{#information}}
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start" src="{{typeLowercase}}/{{id}}/image" alt=""
                         id="header-item-image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <img src="{{typeLowercase}}/{{id}}/image" class="rounded float-end item-flag"
                             alt="...">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{description}}</p>
                        <p class="card-text"><small class="text-muted">{{type}}</small></p>
                        <a href='/details/{{typeLowercase}}/{{id}}' class="btn btn-secondary">Details</a>
                    </div>
                </div>
                {{/information}}

            </div>

        </div>

    </div>


</div>

</body>

</html>