<div class="card m-3" id="item-1" *ngIf="information">
    <div class="card-body g-0 text-black bg-light">
        <img [src]="loadImage(information)" alt="{{information.name}}" class="rounded float-end item-flag">
        <div class="d-flex mb-3">
            <div>
                <h5 class="card-title">{{information.name}}</h5>
                <p class="card-text"><small class="text-muted">{{information.type}}</small></p>
            </div>
        </div>
        <a href="/details/{{information.typeLowercase}}/{{information.id}}" class="btn btn-primary">See more</a>
        <button type="button" class="btn btn-danger" onclick="">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
        </button>
    </div>
</div>